.bundle
db/*.sqlite3
log/*.log
tmp/**/*
*~
.DS_Store
t
tt
t.*
tt.*install
install
.septober.yml
vendor/mysql2-0.5.2.gem
config/database.yml.prod
.env.production
.env.sh
00-init.sh
01-magic-tejal.sh
build-out.json
.sk-septober.appname
.echodo_history
.git-privatize
.gemini/logs.json
