
.overdue {
  color: red;
}

.small_overdue {
  color: red;
  font: 65% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  font-style: oblique;
}

.small_hide_until {
	color: purple;
	font-size: xx-small; 
}

.progress_status_small {
	font-size: xx-small; 
	color: purple;
}

div#logo a {
/*	display: none;
	position: absolute;
	left: 0;
	bottom: 0;
	*/
	position: fixed;
	right: 1%;
	bottom: 1%;
}

a {
  /* border: none; */
  text-decoration: none ;
}

/* stuff relative to a Todo 
	MADE INVISIBLE
*/

.done_true {
	color: gray;
	display: none;
/*	position: absolute; */	
	opacity: .1 ;
}

.done_false {
	/* color: brown; */
/*	opacity: .7;*/
}

.stillhidden_true {
	color: brown; 
	opacity: .1 ;
	display: none;
	font-style: oblique;
}
.stillhidden_false {
}

/*
	OverDue Explaination column
*/
TD.todo_due_column {
	font-style: oblique;
	font-size: x-small; 
}

.due_explain_overdue {
	  background-color: #fee ; 

	color: red;
}
.due_explain_close {
	  background-color: #ffd ; 
}
.due_explain_far {
	/*  background-color: #cfc ; 
	color: green;*/
}

.user , A.user {
  border: none;
  text-decoration: none ;
  color: #E56717 ; /* dark orange */
  font: normal 100% ;
  font-family: Arial, "MS Trebuchet", sans-serif;
}

.todo-system-notes {
	color: gray;
	font-size: 70%;
}

.tag {
	color: orange;
	font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

A.tag {
	color: darkorange;
}

.todo_description_snippet {
	font-size: xx-small; 
	color: grey
}

.floating_right {
	float: right; 
	padding-top: 1em; 
	padding-left: 1em; 
	padding-bottom: 1em; 
	width: 12em; 
	background: black;
}