
.overdue {
  color: red;
}

.small_overdue {
  color: red;
  font: 65% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  font-style: oblique;
}

.small_hide_until {
	color: purple;
	font-size: xx-small; 
}

.progress_status_small {
	font-size: xx-small; 
	color: purple;
}

div#logo a {
/*	display: none;
	position: absolute;
	left: 0;
	bottom: 0;
	*/
	position: fixed;
	right: 1%;
	bottom: 1%;
}

a {
  /* border: none; */
  text-decoration: none ;
}

/* stuff relative to a Todo */

.done_true {
	color: red;
	display: none;
	position: absolute;
}

.done_false {
	/* color: brown; */
}

/*
	OverDue Explaination
*/

.due_explain_overdue {
	  background-color: #fcc ; 
}
.due_explain_close {
	  background-color: #ffa ; 
}
.due_explain_far {
	  background-color: green ; 
}