<h1>About</h1>

<p>Find me in app/views/pages/about.html.erb</p>


<h2>Docker</h2>

<pre>\
Basics
======
1. Ricc pvt repo: .../docker-apps/dev/septober/Dockerfile
2. base image: "ruby:1.9.3"

More info
=========
OS: debian jessie      /etc/debian_version  -> 8.0
gem -v:  1.8.23.2
ruby -v: 1.9.3-p551
</pre>

<h3>Bugs</h3>

<pre>
	ActionController::RoutingError (No route matches "/javascripts/jquery_ujs.js"):

	ActionController::RoutingError (No route matches "/javascripts/on_the_spot_code.js"):

</pre>