<h1>About</h1>

<p>Find me in app/views/pages/about.html.erb</p>


<h2>Docker</h2>

<pre>Basics
======
1. Ricc pvt repo: .../docker-apps/dev/septober/Dockerfile
2. base image: "ruby:1.9.3"
3. Currently works like a charm with sqlite3 bt not with mysql2. Choices:
- upgrade to rails 3.1 which has musql inside
- patch to make it work with rails 303

More info
=========
OS: debian jessie      /etc/debian_version  -> 8.0
gem -v:  1.8.23.2
ruby -v: 1.9.3-p551
</pre>

<h3>Bugs</h3>

<pre>
	FIXED. ActionController::RoutingError (No route matches "/javascripts/jquery_ujs.js"):

	FIXED. ActionController::RoutingError (No route matches "/javascripts/on_the_spot_code.js"):

</pre>