<% 
	#@index_subpages  = %w{ index search tests} 
%>
<% title "RicAddons :: Index" %>

<h2>Pages</h2>
	[ <% @index_subpages.each do |subpage| %>
  <%= link_to(subpage, "/ric_addons/#{subpage}") %>
	<% end %> ]
Here you can find some info..

<h1>Models</h1>

TODO

<h1>Users</h1>

<div class='users_list'>
	Users: <%= User.all.map{|u| render_user(u) }.join(', ').html_safe %>
</div>