<table width='100%' border="0" >
  <tr width='100%' >
    <th>Actions</th>
    <th>Todos</th>
    <th>Due</th>
    <th>Options</th>
  </tr>
  <% for todo in @todos %>
	<%= render :partial => "todos/tr_line", :locals => { :todo => todo , :parity => :odd_even_todo } %>
  <% end %>
</table>

<p><%=t :New %><%= iconed_link_to :Todo, new_todo_path(todo) %></p>
